<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Popular Groups</h2>
            <h3 class="section-subheading text-muted">Popular User Created Groups for this Weekend!</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link top5" data-toggle="modal" href="#show-group-route-modal" data-group="{{id1}}" id="top5One">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img class="img-fluid" src="public/img/portfolio/event-04-03.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4></h4>
              <p class="text-muted">{{count1}} members</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link top5" data-toggle="modal" href="#show-group-route-modal" data-group="{{id2}}" id="top5Two">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img class="img-fluid" src="public/img/portfolio/event-02-03.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4></h4>
              <p class="text-muted">{{count2}} members</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link top5" data-toggle="modal" href="#show-group-route-modal" data-group="{{id3}}" id="top5Three">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="public/img/portfolio/event-02-06.jpg" alt=" ">
          </a>
          <div class="portfolio-caption">
            <h4></h4>
            <p class="text-muted">{{count3}} members</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link top5" data-toggle="modal" href="#show-group-route-modal" data-group="{{id4}}" id="top5Four">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="public/img/portfolio/para1.jpeg" alt=" ">
          </a>
          <div class="portfolio-caption">
            <h4></h4>
            <p class="text-muted">{{count4}} members</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link top5" data-toggle="modal " href="#show-group-route-modal" data-group="{{id5}}" id="top5Five">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="public/img/portfolio/sparkler.jpeg" alt=" ">
          </a>
          <div class="portfolio-caption">
            <h4></h4>
            <p class="text-muted">{{count5}} members</p>
          </div>
        </div>